body {
	background-color: #F2F0F6;
	font-size: 30rpx;
	color: #000000;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

page {
	background-color: #F2F0F6;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
}

/* 布局 */

.flex {
	display: flex;
	align-items: center;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.flex-1 {
	flex: 1;
}

.none {
	opacity: 0;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.list {}

.list-item {
	padding: 30rpx;
	display: flex;
	align-items: center;
}

.list-item .title {
	min-width: 5rem;
}

.list-item .content {
	flex: 1;
}

.list-item+.list-item {
	border-top: 1rpx solid #f0f0f0;
}
