body {
	background-color: #F2F0F6;
	font-size: 30rpx;
	color: #000000;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

page {
	background-color: #F2F0F6;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
}

.bold {
	font-weight: 600;
}

.bg-white {
	background-color: #FFF;
}

.bg-gradual-blue {
	background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
	color: #ffffff;
}

.bg-content {
	background-color: #E4E2E9;
}

.bg-gray {
	background-color: #E4E2E9;
}

.bg-red {
	background-color: #ff3B2D;
}

.notify-content {
	padding: 4rpx 12rpx;
	border-radius: 40rpx;
	background-color: #ff3B2D;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28rpx;
}

.hover-class {
	background-color: #E4E2E9;
}


.flex {
	display: flex;
	align-items: center;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.flex-1 {
	flex: 1;
}

.btn {
	font-size: 30rpx;
	border-radius: 80rpx;
}

.btn-gray-blue {
	color: #007AFF;
	background-color: #EDEDEF;
	padding: 8rpx 20rpx;
	border-radius: 40rpx;
}

.none {
	opacity: 0;
}

switch {
	transform: scale(0.7)
}
