/* 外边距 */

.margin-4 {
	margin: 4rpx;
}

.margin-8 {
	margin: 8rpx;
}

.margin-10 {
	margin: 10rpx;
}

.margin-12 {
	margin: 12rpx;
}

.margin-16 {
	margin: 16rpx;
}

.margin-18 {
	margin: 18rpx;
}

.margin-20 {
	margin: 20rpx;
}

.margin-24 {
	margin: 24rpx;
}

.margin-28 {
	margin: 28rpx;
}

.margin-30 {
	margin: 30rpx;
}

.margin-32 {
	margin: 32rpx;
}

.margin-36 {
	margin: 36rpx;
}

.margin-38 {
	margin: 38rpx;
}

.margin-40 {
	margin: 40rpx;
}

.margin-left-4 {
	margin-left: 4rpx;
}

.margin-left-8 {
	margin-left: 8rpx;
}

.margin-left-10 {
	margin-left: 10rpx;
}

.margin-left-12 {
	margin-left: 12rpx;
}

.margin-left-16 {
	margin-left: 16rpx;
}

.margin-left-18 {
	margin-left: 18rpx;
}

.margin-left-20 {
	margin-left: 20rpx;
}

.margin-left-24 {
	margin-left: 24rpx;
}

.margin-left-28 {
	margin-left: 28rpx;
}

.margin-left-30 {
	margin-left: 30rpx;
}

.margin-left-32 {
	margin-left: 32rpx;
}

.margin-left-36 {
	margin-left: 36rpx;
}

.margin-left-38 {
	margin-left: 38rpx;
}

.margin-left-40 {
	margin-left: 40rpx;
}

.margin-top-4 {
	margin-top: 4rpx;
}

.margin-top-8 {
	margin-top: 8rpx;
}

.margin-top-10 {
	margin: 10rpx;
}

.margin-top-12 {
	margin-top: 12rpx;
}

.margin-top-16 {
	margin-top: 16rpx;
}

.margin-top-18 {
	margin-top: 18rpx;
}

.margin-top-20 {
	margin-top: 20rpx;
}

.margin-top-24 {
	margin-top: 24rpx;
}

.margin-top-28 {
	margin-top: 28rpx;
}

.margin-top-30 {
	margin-top: 30rpx;
}

.margin-top-32 {
	margin-top: 32rpx;
}

.margin-top-36 {
	margin-top: 36rpx;
}

.margin-top-38 {
	margin-top: 38rpx;
}

.margin-top-40 {
	margin-top: 40rpx;
}

.margin-bottom-4 {
	margin-bottom: 4rpx;
}

.margin-bottom-8 {
	margin-bottom: 8rpx;
}

.margin-bottom-10 {
	margin-bottom: 10rpx;
}

.margin-bottom-12 {
	margin-bottom: 12rpx;
}

.margin-bottom-16 {
	margin-bottom: 16rpx;
}

.margin-bottom-18 {
	margin-bottom: 18rpx;
}

.margin-bottom-20 {
	margin-bottom: 20rpx;
}

.margin-bottom-24 {
	margin-bottom: 24rpx;
}

.margin-bottom-28 {
	margin-bottom: 28rpx;
}

.margin-bottom-30 {
	margin-bottom: 30rpx;
}

.margin-bottom-32 {
	margin-bottom: 32rpx;
}

.margin-bottom-36 {
	margin-bottom: 36rpx;
}

.margin-bottom-38 {
	margin-bottom: 38rpx;
}

.margin-bottom-40 {
	margin-bottom: 40rpx;
}

.margin-right-4 {
	margin-right: 4rpx;
}

.margin-right-8 {
	margin-right: 8rpx;
}

.margin-right-10 {
	margin-right: 10rpx;
}

.margin-right-12 {
	margin-right: 12rpx;
}

.margin-right-16 {
	margin-right: 16rpx;
}

.margin-right-18 {
	margin-right: 18rpx;
}

.margin-right-20 {
	margin-right: 20rpx;
}

.margin-right-24 {
	margin-right: 24rpx;
}

.margin-right-28 {
	margin-right: 28rpx;
}

.margin-right-30 {
	margin-right: 30rpx;
}

.margin-right-32 {
	margin-right: 32rpx;
}

.margin-right-36 {
	margin-right: 36rpx;
}

.margin-right-38 {
	margin-right: 38rpx;
}

.margin-right-40 {
	margin-right: 40rpx;
}
