.padding-4 {
	padding: 4rpx;
}

.padding-8 {
	padding: 8rpx;
}

.padding-10 {
	padding: 10rpx;
}

.padding-12 {
	padding: 12rpx;
}

.padding-16 {
	padding: 16rpx;
}

.padding-18 {
	padding: 18rpx;
}

.padding-20 {
	padding: 20rpx;
}

.padding-24 {
	padding: 24rpx;
}

.padding-28 {
	padding: 28rpx;
}

.padding-30 {
	padding: 30rpx;
}

.padding-32 {
	padding: 32rpx;
}

.padding-36 {
	padding: 36rpx;
}

.padding-38 {
	padding: 38rpx;
}

.padding-40 {
	padding: 40rpx;
}

.padding-left-4 {
	padding-left: 4rpx;
}

.padding-left-8 {
	padding-left: 8rpx;
}

.padding-left-10 {
	padding-left: 10rpx;
}

.padding-left-12 {
	padding-left: 12rpx;
}

.padding-left-16 {
	padding-left: 16rpx;
}

.padding-left-18 {
	padding-left: 18rpx;
}

.padding-left-20 {
	padding-left: 20rpx;
}

.padding-left-24 {
	padding-left: 24rpx;
}

.padding-left-28 {
	padding-left: 28rpx;
}

.padding-left-30 {
	padding-left: 30rpx;
}

.padding-left-32 {
	padding-left: 32rpx;
}

.padding-left-36 {
	padding-left: 36rpx;
}

.padding-left-38 {
	padding-left: 38rpx;
}

.padding-left-40 {
	padding-left: 40rpx;
}

.padding-top-4 {
	padding-top: 4rpx;
}

.padding-top-8 {
	padding-top: 8rpx;
}

.padding-top-10 {
	padding: 10rpx;
}

.padding-top-12 {
	padding-top: 12rpx;
}

.padding-top-16 {
	padding-top: 16rpx;
}

.padding-top-18 {
	padding-top: 18rpx;
}

.padding-top-20 {
	padding-top: 20rpx;
}

.padding-top-24 {
	padding-top: 24rpx;
}

.padding-top-28 {
	padding-top: 28rpx;
}

.padding-top-30 {
	padding-top: 30rpx;
}

.padding-top-32 {
	padding-top: 32rpx;
}

.padding-top-36 {
	padding-top: 36rpx;
}

.padding-top-38 {
	padding-top: 38rpx;
}

.padding-top-40 {
	padding-top: 40rpx;
}

.padding-bottom-4 {
	padding-bottom: 4rpx;
}

.padding-bottom-8 {
	padding-bottom: 8rpx;
}

.padding-bottom-10 {
	padding-bottom: 10rpx;
}

.padding-bottom-12 {
	padding-bottom: 12rpx;
}

.padding-bottom-16 {
	padding-bottom: 16rpx;
}

.padding-bottom-18 {
	padding-bottom: 18rpx;
}

.padding-bottom-20 {
	padding-bottom: 20rpx;
}

.padding-bottom-24 {
	padding-bottom: 24rpx;
}

.padding-bottom-28 {
	padding-bottom: 28rpx;
}

.padding-bottom-30 {
	padding-bottom: 30rpx;
}

.padding-bottom-32 {
	padding-bottom: 32rpx;
}

.padding-bottom-36 {
	padding-bottom: 36rpx;
}

.padding-bottom-38 {
	padding-bottom: 38rpx;
}

.padding-bottom-40 {
	padding-bottom: 40rpx;
}

.padding-right-4 {
	padding-right: 4rpx;
}

.padding-right-8 {
	padding-right: 8rpx;
}

.padding-right-10 {
	padding-right: 10rpx;
}

.padding-right-12 {
	padding-right: 12rpx;
}

.padding-right-16 {
	padding-right: 16rpx;
}

.padding-right-18 {
	padding-right: 18rpx;
}

.padding-right-20 {
	padding-right: 20rpx;
}

.padding-right-24 {
	padding-right: 24rpx;
}

.padding-right-28 {
	padding-right: 28rpx;
}

.padding-right-30 {
	padding-right: 30rpx;
}

.padding-right-32 {
	padding-right: 32rpx;
}

.padding-right-36 {
	padding-right: 36rpx;
}

.padding-right-38 {
	padding-right: 38rpx;
}

.padding-right-40 {
	padding-right: 40rpx;
}