/* 字体大小 */
.text-26 {
	font-size: 26rpx;
}

.text-28 {
	font-size: 28rpx;
}

.text-30 {
	font-size: 30rpx;
}

.text-32 {
	font-size: 32rpx;
}

.text-34 {
	font-size: 34rpx;
}

.text-36 {
	font-size: 36rpx;
}

.text-36 {
	font-size: 36rpx;
}

.text-38 {
	font-size: 38rpx;
}

.text-40 {
	font-size: 40rpx;
}

.text-42 {
	font-size: 42rpx;
}

.text-48 {
	font-size: 48rpx;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* 字体颜色 */

.text-blue {
	color: #007AFF;
}

.text-white {
	color: #FFF;
}

.text-grey {
	color: #6E6D6E;
}

.text-gray {
	color: #929293;
}

.text-arrow {
	color: rgba(0, 0, 0, 0.3);
}

.text-red {
	color: #ff3B2D;
}

/* 文字加粗 */
.bold {
	font-weight: 600;
}

.text-hover {
	background-color: rgba(0, 0, 0, 0.1);
}
